<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.topmanager.oiltycoon.dao.mapper.UserMapper">
    <select id="findByNickName">
        SELECT * FROM user WHERE nickName=#{nickName}
    </select>

    <insert id="create" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO user (email, nickName, firstName, lastName, password, role) VALUES (#{email}, #{userName},
        #{firstName}, #{lastName}, #{password}, #{role})
    </insert>
</mapper>